* {box-sizing: border-box;
margin: 0;}

.nav {display: flex;
    gap: 5px;
    padding: auto;
    align-items: center;
    justify-content: center;
    background-color: #9b2335;
    color: beige;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

li {padding: 0px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

h2 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 15px;
margin-left: 8px;
border-bottom-style: dashed;
border-bottom-color:#9b2335;}

/* I had trouble figuring out how to center my images and define a fixed width */

.image {text-align: center; 
padding: 15px;
}

img {display: block;
margin: auto;
width: 750px;
height: auto;
}

.links {padding: 10px;
font-size: large;}

#insight {border-bottom: #9b2335 2px groove;
margin-bottom: 0px;
font-weight: 100;}

/* Utilizing Flex */
.tastes {display: flex;
align-items: baseline;
justify-content: space-evenly;}

.history {flex: 1;
text-align: justify;
padding: 15px;}

.title {text-align: center;
flex-basis: 100%;}

